@model Proekt.Models.Orders

@{
    ViewBag.Title = "Details";
}

<h2>Детали</h2>

<div>
    <h4>Нарачка</h4>
    <hr />
    <dl class="dl-horizontal">
        <!-- <dt>
         Производ:
     </dt>

     <dd>
         @Html.DisplayFor(model => model.Proizvodi.Name)
     </dd>-->

        <dt>
            Корисник:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Адреса:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Телефонски број:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
